extends ../template/layout

block content
    link(rel='stylesheet', href='/css/design/signin.css')

    .container(style='padding-top: 60px;')
        form.form-horizontal(id="signup", method="POST", action="/signup", role='form', style='max-width: 530px; padding: 15px; margin: 0 auto;')
            .form-group 
                label.col-lg-2.control-label(for='graduationYear') Graduation Year 
                .col-lg-10
                    input.form-control(type='text', id='graduationYear', placeholder='2015')
            .form-group
                label.col-lg-2.control-label(for='username') Username
                .col-lg-10
                    input.form-control(type='text', id='username',  placeholder="Unique Username")
            .form-group
                label.col-lg-2.control-label(for='Name') Name
                .row-fluid
                    .col-lg-5
                        input.form-control(type='text', id='Name', placeholder="First Name")
                    .col-lg-5 
                        input.form-control(type='text', id='Name',  placeholder="Last Name")
            .form-group
                label.col-lg-2.control-label(for='email') Email
                .col-lg-10
                    input.form-control(type='text', id='email',  placeholder="Email")
            .form-group
                label.col-lg-2.control-label(for='password') Password
                .col-lg-10
                    input.form-control(type='password', id='password', placeholder="..........")
            .form-group
                    button.btn.btn-block.btn-primary(type="submit") Register


        courses: [CourseSchema],
        graduationYear: Number,
        phoneNumber: Number,
        university: {        
            university: String,
            universityKey: String,
            latitude: Number,
            longitude: Number
        }